.header {
    grid-area: h;
    background-color: rgb(7, 80, 25);
    }
    
    .header img {
      width: 20px;
    }

    .loginBlock {
      float: right;
    }

    .loginBlock a {
      color:white;
    }